header.header

    a.header__logo.logo(href="#")
        img.logo__item(src="", alt="logo")

    nav.header__navigation.navigation
        ul.navigation__list.list
            li.list__item
                a.navigation__link(href="#")Поступающим 
            li.list__item
                a.navigation__link(href="#")Обучающимся
            li.list__item
                a.navigation__link(href="#")Работникам