img.project-card__img(src="#", alt="#")
h3.project-card__name Название проекта
.project-card__description 
    p.project-card__student Иван Иванов
    p.project-card__discipline Проектная деятельность